@page
@model AboutModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["About"];
}
<h1>@Localizer["WTF?"]</h1>

<div class="row mt-4">
    <div class="col-8">
        <p style="text-indent: 20px;">
            @Localizer["About me"]
        </p>
    </div>
</div>

