@page
@model WantToEatModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["IWantToEat"];
}

@if(Model.DidCustomerEatToday != true){
    <form method="post">
        <input type="text">
        <button type="submit" class="btn btn-primary">@Localizer["I ate kholodets today"]</button>
    </form>
} else{
    <h1>@Localizer["You have already eaten kholodets"]</h1>
}


