@page 
@model WeEatKholodets.Pages.Recipes.TopModel
@{
    ViewData["Title"] = "Top";
}
<div class="row">
    <div class="col-2">
        <partial name="_RecipeNavMenuPartial" />
    </div>
    <div class="col-6">
        @if(Model.Recipe != null){
            <div>
                <h2>@Model.Recipe.Title</h2>
                <p>@Model.Recipe.Description</p>
                <ul>
                    @foreach(var ingred in Model.Recipe.Ingredients.Split("\n")){
                        @if(ingred != string.Empty){
                            <li>@ingred</li>
                        }
                    }
                </ul>
                <p>@Model.Recipe.CookingMethod</p>
            </div>
        } 
        else{

        }
    </div>
</div>


