@page 
@model UploadRecipeModel
@{
    ViewData["Title"] = "Add Kholodets";
}
<div class="row">
    <div class="col-2">
        <partial name="_RecipeNavMenuPartial" />
    </div>
    <div class="col-7">
        <div class="row g-3 align-items-center">
            <form method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <div class="form-floating">
                        <input class="form-control" type="text" asp-for="Recipe.Title" />
                        <label class="form-label" asp-for=" Recipe.Title">Title</label>
                    </div>
                    <span class="validation text-danger" asp-validation-for="Recipe.Title"></span>
                </div>
                <div class="mb-3">
                    <div class="form-floating">
                        <input class="form-control" type="text" asp-for="Recipe.Description" />
                        <label class="form-label" asp-for="Recipe.Description">Description</label>
                    </div>
                    <span class="validation text-danger" asp-validation-for="Recipe.Description"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="Recipe.Ingredients"><u>Ingredients</u></label>
                    <div class="ingredients">
                    </div>
                    <textarea id="ingredients" hidden asp-for="Recipe.Ingredients"></textarea>
                </div>
                <div class="mb-3">
                    <button class="btn btn-secondary" id="adding" type="button">Add ingredient</button>
                    <button class="btn btn-danger" id="removing" type="button">Remove ingredient</button>
                    <span class="validation text-danger" asp-validation-for="Recipe.Ingredients"></span>
                </div>
                <div class="mb-3">
                    <div class="form-floating">
                        <textarea class="form-control" asp-for="Recipe.CookingMethod" style="height: 100px"></textarea>
                        <label class="form-label" asp-for="Recipe.CookingMethod">How to cook?</label>
                    </div>
                    <span class="validation text-danger" asp-validation-for="Recipe.CookingMethod"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="Recipe.Files"><u>Photos</u></label>
                    <input class="form-control" multiple asp-for="Recipe.Files"  accept="image/*"/>
                    <span class="validation text-danger" asp-validation-for="Recipe.Files"></span>
                </div>
                <button id="send" type="submit" class="btn btn-primary btn-block mb-4">Send</button>
            </form>
        </div>
    </div>
</div>


@* @section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
} *@

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        let IngredientsRows = $('#ingredients').val().split('\n')
        for (row of IngredientsRows)
            if(row != '')
                $('<input class="form-control" />', {type: 'text' }).attr('value', row).appendTo('.ingredients')
    });
    $('#adding').click(function(){
        $('<input class="form-control" value=""/>').appendTo('.ingredients')
    });
    $('#removing').click(function(){
        $('.ingredients input:last-child').remove()
    });
    $('#send').click(function(){
        let textIngrigients = "";
        for (let elem of $('.ingredients input')){
            console.log(elem.value)
            textIngrigients += elem.value + '\n';
        }

        $('#ingredients').empty()   
        $('#ingredients').append(textIngrigients)
    })
</script>