@page
@model IndexModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Profile"];
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<p class="fs-3 lead">@Localizer["Hello, a kholodets lover whose email"] @Model.Username</p>