<div>
    <ul>
        <li>
            <a asp-page="/Recipes/Index">Recipes</a>
        </li>
        <li>
            <a asp-page="/Recipes/Search">Search</a>
        </li>
        <li>
            <a asp-page="/Recipes/Top">Top</a>
        </li>
    </ul>
</div>