<div>
    <ul>
        @if (ViewData["Title"]!.ToString() == "Recipes")
        {
            <li>
                <a asp-page="/Recipes/UploadRecipe">Add your recipe</a>
            </li>
        }
        else{
            <li>
                <a asp-page="/Recipes/Index">Recipes</a>
            </li>
        }
    </ul>
</div>
