<div>
    <ul class="nav flex-column nav-pills">
        @if (ViewData["Title"]!.ToString() == "Recipes")
        {
            <li class="nav-item">
                <a class="btn" style="background-color: #7db1ff;"  asp-page="/Recipes/UploadRecipe"> Add your recipe</a>
            </li>
        }
        else{
            <li class="nav-item">
                <a class="nav-link" asp-page="/Recipes/Index"><img src="~/img/arrow-left.svg" alt="" srcset=""></a>
            </li>
        }
    </ul>
</div>
